<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
   <h1>Site maintenance</h1>
    <p>Work being done on the maintenance of the site.  We'll be back</p>
</body>
</html>